html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
}

/* This below code is for calculator outer */
.cal-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* This below code is for calculator inner */
.cal-inner{
    padding: 20px;
    border: 1px black solid;
}

/* This below code is for calculator display & clear button */
.cal-display{
    
}

/* This below code is for calculator Keys */
.cal-keys{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0%;
    padding: 20px 0 0 0; 
}

li{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}